<div id="appointment" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
	<a href="#" id="headerBackButton" data-theme="b" data-rel="back" data-direction="reverse" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all" data-role="button" role="button"></a>
        <div class="app-title-cntr">
				

				<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>
			
        </div>
    </div>

    <div data-role="main" class="ui-content">
		<div id="chat_widget"></div>
        <label for="hospitals">Choose nearest Testing Center:</label>
		<select name="hospitals" id="hospitals">
		  <option value="">Select Location</option>
		  <option value="Apollo Hospital">Apollo Hospital</option>
		  <option value="Chodankar Hospital">Chodankar Hospital</option>
		  <option value="Hospicio Hospital">Hospicio Hospital</option>
		  <option value="Goa Medical College">Goa Medical College</option>
		  <option value="Manipal Hospital">Manipal Hospital</option>
		  <option value="RG Testing Centre">RG Testing Centre</option>
		  <option value="Sanjeevani Hospital">Sanjeevani Hospital</option>
		  <option value="SMRC Hospital">SMRC Hospital</option>
		</select>

		
    </div>

    <div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div> 