    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="../js/instascan.js"></script>
	<script type="text/javascript" src="../js/checkin.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
<div id="checkin" data-role="page" data-theme="b">
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
<a href="#" id="headerBackButton" data-theme="b" data-rel="back" data-direction="reverse" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all" data-role="button" role="button"></a>
        <a href="#mainPanel" data-theme="b" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-right"></a>
         <div class="app-title-cntr">
							<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>

			
        </div>
    </div>
	<div data-role="main" class="ui-content">
<video id="preview"></video>


<form id="checkinform" method="POST" >
	<h4> Name of Place </h4>
	<input type="text" name="orgname" id="orgname" placeholder="Oragnisation Name" >
	<h4>Address</h4>
	<input type="text" name="address" id="address" placeholder="Location Details" >
	<input type="range" name="temperature" id="temperature" min="94" max="105" step=1 value=98>
	<input id="checkinuser" type="button" value="checkin">
</form>

	</div>
	<div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div>

<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
    <div data-role="toolbar" data-type="header" data-theme="a">
    <h1>Check in Success</h1>
    </div>
    <div role="main" class="ui-content">
        <h3 class="ui-title">Stay Safe!!</h3>
        <a href="#" class="ui-button ui-corner-all ui-shadow ui-button-inline ui-button-b" data-rel="back" data-transition="flow">Ok</a>
    </div>
</div>
