<div id="comingSoon" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
	<a href="#" id="headerBackButton" data-theme="b" data-rel="back" data-direction="reverse" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all" data-role="button" role="button"></a>
         <div class="app-title-cntr">
							<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>

			
        </div>
    </div>

    <div id="msg" data-role="main" class="ui-content" >        
	<h1>Watchout this space for more exciting features!!!!!</h1>
    </div>
	<div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div>