<div id="contacttracing" data-role="page" data-theme="b">
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
<a href="#" id="headerBackButton" data-theme="b" data-rel="back" data-direction="reverse" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-corner-all" data-role="button" role="button"></a>
        <a href="#mainPanel" data-theme="b" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-right"></a>
         <div class="app-title-cntr">
							<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>

			
        </div>
    </div>
	<div data-role="main" class="ui-content">
		<h2>Your Checkins</h2>
		<div data-role="collapsible">
			<h3>Malls</h3>
			<p><div data-role="panel" id="mall-map"></div></p>
		</div>
		<div data-role="collapsible">
		    
			<h3>Railway Stations</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

			
		</div>
		<div data-role="collapsible">
			<h3>Bus stops</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			
		</div>
	</div>
	<div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div>

