<div id="dashboard" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
        <a href="#mainPanel" data-theme="b" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-right"></a>
        <div class="app-title-cntr">
				

				<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>
			
        </div>
    </div>

    <div data-role="main" class="ui-content dashboard-content">
<div id="chat_widget"></div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa-map-marker fa-3x dashboard-btn-icon"></i>                        
                    <div class="dashboard-btn-lbl">HOTSPOT TRACKER</div>                            
                
                </a>
            </div>
            <div class="ui-block-b">
                <a href="#checkin" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa-qrcode fa-4x dashboard-btn-icon"></i>
                    <div class="dashboard-btn-lbl dashboard-info-txt">CHECKIN</div>                            
                </a>
            </div>
        </div>
        <div class="ui-grid-a">
           <div class="ui-block-a" id="open_chat">
                <a href="#"  data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa-calendar-plus-o fa-3x dashboard-btn-icon"></i>
                    <div class="dashboard-btn-lbl">BOOK MY TEST</div>
                </a>
            </div>
			<div class="ui-block-b">
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
                    <i class="fa fa-plus-square fa-3x dashboard-btn-icon"></i>                        
                    <div class="dashboard-btn-lbl">VACCINATION</div>                            
                </a>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
                    <i class="fa fa-users fa-3x dashboard-btn-icon"></i>                        
                    <div class="dashboard-btn-lbl">CONTACT TRACING</div>                            
                </a>
            </div>
            <div class="ui-block-b"> 
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa-ambulance fa-4x dashboard-btn-icon"></i>
                    <div class="dashboard-btn-lbl dashboard-info-txt">EMERGENCY</div>                            
                </a>
            </div>
        </div>
		 <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#privacy" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
                    <i class="fa fa-user-secret fa-3x dashboard-btn-icon"></i>                        
                    <div class="dashboard-btn-lbl">PRIVACY POLICY</div>                            
                </a>
            </div>
            <div class="ui-block-b"> 
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa-smile-o fa-4x dashboard-btn-icon"></i>
                    <div class="dashboard-btn-lbl dashboard-info-txt">THE TEAM</div>                            
                </a>
            </div>
        </div>
		
		<div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
                    <i class="fa fa- fa-3x dashboard-btn-icon"></i>                        
                    <div class="dashboard-btn-lbl"></div>                            
                </a>
            </div>
            <div class="ui-block-b"> 
                <a href="#comingSoon" data-transition="flip" class="main-btn ui-btn ui-mini ui-shadow">
					<i class="fa fa- fa-3x dashboard-btn-icon"></i>
                    <div class="dashboard-btn-lbl dashboard-info-txt"></div>                            
                </a>
            </div>
        </div>
		
    </div>

    <div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div> 