<div id="hotspot" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
            <a href="#mainPanel" data-theme="b" class="ui-btn ui-shadow ui-corner-all ui-icon-bars ui-btn-icon-notext ui-btn-right"></a>
             <div class="app-title-cntr">
                                <span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>
    
                
            </div>
         
        </div>
        <input type="text" placeholder="Enter Location" class="ui-input-text" id="locName">
        <div id="map"  style="width:800px;height:800px;"></div> 


<!-- <div id="hotspot" class="ui-input-text ui-shadow-inset ui-corner-all ui-btn-shadow ">
   
 <!-- <div id="map"  style="width:100%;height:400px;"></div>  -->
 
</div> -->