<div id="loginpage" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
        <div class="app-title-cntr">
				

				<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>
			
        </div>
    </div>

    <div data-role="main" class="ui-content dashboard-content">
		<h1> Login</h1>
		<div class="ui-grid-a">
			<form id="loginform" method="POST">
			<h4> Mobile </h4>
			<div class="ui-block-">
				<input type="number" maxlength="10" name="mobile" id="mobile" placeholder="Mobile No">	
				<input id="generateOTP" type="button" value="Generate OTP">
			</div>
		</div>
		<div>
			<h4>Enter OTP</h4>
			<div class="ui-block-"><input type="password" maxlength="4" name="otp" id="otp" placeholder="Enter OTP"></div>
		</div>
					<div class="ui-block-"><input id="login" type="button" value="Login"></div>

</form>

    </div>
	<div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div> 