<div id="otppage" data-role="page" data-theme="b">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='a'>
        <div class="app-title-cntr">
				

				<span class="app-title">NeW n</span><i class="fa fa-soccer-ball-o fa-app-icon"></i><span class="app-title">rMaL</span>
			
        </div>
    </div>

    <div data-role="main" class="ui-content dashboard-content">
		<h1> Login</h1>
		<div class="ui-grid-a">
			<form id="loginform" method="POST">
			<div class="ui-block-">
				<input type="number" maxlength="10" name="mobile" id="mobileotp" placeholder="Mobile No">	
									<div class="ui-block-" style="text-align:right;"> 

									<a href="#" data-transition="flip" class="">               Generate OTP                                  </a>
									</div>

			</div>
		</div>
		<div>
			<div class="ui-block-"><input type="password" maxlength="4" name="password" id="password" placeholder="Enter OTP"></div>
		</div>
					<div class="ui-block-"><input id="loginotp" type="button" value="Login"></div>
					<div class="ui-block-" style="text-align:center;"> 
					<br/>
					OR
					<br/><br/>
					<a href="#loginpage" data-transition="flip" class="">               Login using Password                                  </a>
					</div>
					
					                        
                

</form>

    </div>
	<div data-role="footer">
        <p class="copyright" property="dc:rights">&copy;
          <span property="dc:dateCopyrighted">NeW nOrMaL 2020</span>
          <span property="dc:publisher"></span>
        </p>
    </div>
</div> 