html .ui-page-theme-b {
    /*background: #2c3e50;*/
}
.ui-content {
    padding: 0;
}

body {
    overflow: hidden;
}

html .m-health .ui-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #999;
}

html .m-health .ui-header {
    border-bottom: 0px soild #f9f9f9;
}

.app-title-cntr {
    width: 204px;
    height: 40px;
    margin: auto;
    line-height: 40px;
}

.app-title {
    float: left;
    color: #FFF;
    text-shadow: none;
    margin-left: 5px;
}

.app-icon {
    float: left;
    margin-top: 7px;
    background-image: url('../img/my-heart-icon.png');
        width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
}

.fa-app-icon {
    float: left;
    color: #FFF;  
	margin-top:10px;
	margin-right:-3px;
    
}

.app-title-m {
    color: white;
}

.copyright {
    text-align: right;
    font-size: 0.7em;
    font-weight: normal;
    margin-right: 5px;
}

[class*=ui-block-]>.ui-btn {
    margin: 1px;
}

html .ui-page-theme-b .ui-grid-a .ui-btn,
html .ui-page-theme-b .ui-grid-a .ui-btn:hover,
html .ui-page-theme-b .ui-grid-a .ui-btn:active {
    color: #002549;  
    text-shadow: none;
    font-weight: normal;
    font-size: 0.8em;
}

html .ui-page-theme-b .ui-grid-a:nth-child(odd) .ui-block-b .ui-btn, html .ui-page-theme-b .ui-grid-a:nth-child(odd)  .ui-block-b .ui-btn:visited {
    background: #97ccf1;
    border-color: #96D1C5;
}

html .ui-page-theme-b .ui-grid-a:nth-child(even) .ui-block-a .ui-btn, html .ui-page-theme-b .ui-grid-a:nth-child(even)  .ui-block-a .ui-btn:visited {
    background: #97ccf1;
    border-color: #97ccf1;
    
}

html .ui-page-theme-b .dashboard-content .ui-grid-a .ui-block-a .ui-btn:hover, 
html .ui-page-theme-b .dashboard-content .ui-grid-a .ui-block-b .ui-btn:hover, 
html .ui-page-theme-b .dashboard-content .ui-grid-a .ui-block-a .ui-btn:active,
html .ui-page-theme-b .dashboard-content .ui-grid-a .ui-block-b .ui-btn:active {
    background: #0d67b7;
    border-color: #0d67b7;
    color: #FFF; /*peach*/
    
}
html .ui-page-theme-b .ui-btn:hover,html .ui-bar-b .ui-btn:hover,html .ui-body-b .ui-btn:hover,html body .ui-group-theme-b .ui-btn:hover,html body .ui-btn.ui-btn-b:hover{
	background:#0d67b7 !important;border-color:#0d67b7 !important;color:#fff }
	
html .ui-bar-a,html .ui-page-theme-a .ui-bar-inherit,html .ui-bar-a .ui-bar-inherit,html .ui-body-a .ui-bar-inherit,html body .ui-group-theme-a .ui-bar-inherit{
	background:#0d67b7 !important;border-color:#0d67b7 !important;color:#fff;font-weight:700}
	
html .ui-page-theme-b .ui-btn,html .ui-bar-b .ui-btn,html .ui-body-b .ui-btn,html body .ui-group-theme-b .ui-btn,html body .ui-btn.ui-btn-b,html .ui-page-theme-b .ui-btn:visited,html .ui-bar-b .ui-btn:visited,html .ui-body-b .ui-btn:visited,html body .ui-group-theme-b .ui-btn:visited,html body .ui-btn.ui-btn-b:visited{
	background:#2e9eed;border-color:#2e9eed;}

.main-btn {
    height: 100px; 
}

.dashboard-btn-icon {
    margin-top: 15px;    
}

.dashboard-btn-lbl {
    margin-top: 10px;
    clear: left;
}

.dashboard-info-lbl {
    font-weight: bold;
    font-size: 3.7em;
    margin-top: 5px;
}

.dashboard-info-txt {
    margin-top: -2px;
    
}

.dashboard-btn-sub-section {
    float: left;
    width: 50%;
    font-weight: bold;
    margin-bottom: 5px;
}

.dashboard-btn-section-border {
    border-right: 1px solid #f9f9f9;
}

.dashboard-btn-section-lbl {
}

.dashboard-btn-section-value {
    font-size: 3.5em;
}

video {
  width: 100%;
  height: auto;
}